version: "3.8"

services:
  backend:
    build: ./backend
    container_name: hostelops-backend
    ports:
      - "9000:9000"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build: ./hostelops-frontend
    container_name: hostelops-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
